// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Homepage Cards //

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// Navbar //

.navbar {
  background-color: #FF395B;
  color: white;

}

a {
  text-decoration: none;
}

// Show page //

.content-container {
  margin-top: -64px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
}

.form-group {
  margin-bottom: 12px;
}

.box {
  background-color: rgb(250, 250, 250);
  border-radius: 4px;
  padding: 12px;
  margin: 8px auto;
  box-shadow: 1px 1px 3px rgb(200, 200, 200);
}

.box p, h1, h2, h4, h5 {
  margin: 0;
}
